################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Image Converter Extension/bin/Debug
/Image Converter Extension/bin/Release
/Image Converter Extension/bin/Release
/Image Converter Extension/obj
/packages/Microsoft.VSSDK.BuildTools.15.0.25929-RC2
